@use '../components/card';

.homes {

    margin-bottom: 6rem;

    &-top {
        height: 30%;
        text-align: center;
    }


    &__heading {
        position: relative;
        top: 4rem;
        font-size: 3rem;
        margin-bottom: 6rem;
    }

    &-card-grid {
        padding: 2rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, 30rem);
        gap: 3rem;
        justify-content: center;
    }
}

//cards

//default pic
.hc__top {
    background-image: url(../../assets/samplehome.jpg);
        height: 50%;
}

.hc-1 {
    
    &__top {
        background-image: url(../../assets/309\ Highland\ Ct.jpeg);
        height: 50%;
    }
}

.hc-2__top {
    background-image: url(../../assets/1994\ Harris\ Creek\ .jpg);
    height: 50%;
    background-position: center;
}

.sold {
    color: red;
}