

.body-box {
    max-width: 120rem;
    margin: 0 auto;
    margin-top: 2rem;
    padding: 1.2rem;
}

.nav {
    display: flex;
    align-items: center;
    // position: sticky;
    // top: 0;
    // z-index: 100;
    // background-color: white;

    &-logo {
        //font-size: 4rem;
        background-image: url(../../assets/Logo.png);
        height: 4rem;
        width: 4rem;
        background-size: cover;
    }

    &-links{
        margin-left: auto;
        display: flex;
        text-decoration: none;
        list-style: none;
        align-items: center;
        font-size: 2rem;
        text-transform: uppercase;

        & :not(:last-child) {
            margin-right: 2rem;
        }

        & > * {
            cursor: pointer;
        }
    }
}