

.body-box {
    max-width: 120rem;
    margin: 0 auto;
    margin-top: 2rem;
    padding: 1.2rem;
}

.nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;



    &-logo {
        //font-size: 4rem;
        background-image: url(../../assets/Logo.png);
        height: 4rem;
        width: 4rem;
        background-size: cover;
        margin-bottom: 1.5rem;

        @media screen and (max-width:440px) {
            margin: 0 auto;
            margin-bottom: 1.5rem;
        }
    }

    &-links{
        margin-left: auto;
        display: flex;
        text-decoration: none;
        list-style: none;
        align-items: center;
        font-size: 2rem;
        text-transform: uppercase;

        @media screen and (max-width:440px) {
            padding-left: 0;
            margin: 1.5rem auto;
        }

        @media screen and (max-width:362px) {
            font-size: 1.8rem;
        }

        & :not(:last-child) {
            margin-right: 2rem;
        }

        & > * {
            cursor: pointer;
            color: rgb(black, .8)
        }
    }
}