

.why-up {
    padding-top: 7rem;
    margin-bottom: 6rem;

    &--triangle {
        position: relative;
        background: #ccc;
        height: 17rem;
        clip-path: polygon(50% 0, 75% 100%, 25% 100%,  ); //0 0, 100% 0, 100% 100%, 75% 100%, 50% 0, 25% 100%, 0 100%
    }
    &--heading {
        position: absolute;
        font-size: 3rem;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        @media screen and (max-width:500px) {
            font-size: 2rem;
            top: 65%;
         }
    }
}

.process-box {
 display: flex;
 justify-content: space-between;
 background: #ccc;
 height: 70rem;

 @media screen and (max-width:500px) {
    flex-direction: column;
    justify-content: space-between;
    height: 120rem;
    gap: 4rem;
 }


 & > * {
    width: 40%;
    height: 100%;
    background-color: var(--color-blue-primary);
    background-color: #37487c;
    box-shadow: 0 1rem 1.5rem rgb(black, .3);
    color: rgb(white, .8);

    @media screen and (max-width:500px) {
        width: 100%;
    }

 }
}

.process-design {

    &-top {
        height: 40%;
        position: relative;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
        background-image: url(../../assets/design.jpg);
        background-position: center;

        &__heading {
            position: absolute;
            right: 2rem;
            top: 6rem;
            padding: .5rem 1rem;
            font-size: 2rem;
            background: linear-gradient( rgb(white, .8), rgb(white, .9));
            box-shadow: 0 .5rem .5rem rgb(black, .4);
            color: rgb(black, .9);
        }
    }

    &-bottom {

        &__text-box {
            padding: 2.5rem;
        }
    }

}

.process-heading {
    font-size: 2rem;
    text-decoration: underline;
    text-align: center;


}

.process-text {
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 4rem;
}

.process-build{
    
    //background: linear-gradient( to bottom right, var(--color-blue-primary), var(--color-blue-light));

    &-top {
        height: 40%;
        position: relative;
        clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
        background-image: linear-gradient( rgb(rgb(174, 178, 187),.2), rgb(rgb(141, 220, 220), .2)) ,url(../../assets/construction.jpg);
        background-position: center;
        background-blend-mode: screen;

        &__heading {
            position: absolute;
            color: rgb(black, .9);
            left: 2rem;
            top: 6rem;
            padding: .5rem 1rem;
            font-size: 2rem;
            background: linear-gradient( rgb(white, .8), rgb(white, .9));
            box-shadow: 0 .5rem .5rem rgb(black, .4);

        }
    }

    &-bottom {

        &__text-box {
            padding: 2.5rem;
        }
    }


}