:root {
  font-size: 62.5%; // 1rem = 10px;
  font-family: Helvetica, Arial, sans-serif;

  --color-blue-primary: rgba(37, 37, 223, .7);

  --color-blue-light:rgb(199, 220, 248);
  
  --color-gray-light: #ccc;
}

html {
  box-sizing: border-box;
  

}

body {
    padding: 0;
    margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
